baseURL = "https://geson-anko.github.io/"
languageCode = "ja"
defaultContentLanguage = "ja"
theme = "blowfish"
enableEmoji = true
enableRobotsTXT = true

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.highlight]
    noClasses = false
